ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: white;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

ul li a{
    display: block;
    text-decoration: none;
    color: #cb0729;
    font-family: Verdana;
    font-weight: bold;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

ul li a:hover {
    background-color: black;
}

#homesec {
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-shadow: 4px 4px 5px yellow;
    font-family: Verdana;
    font-size: 30px;
}

#homeback {
    background-color: #cb0729;
}

#brief {
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 2px yellow;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#playersecs {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 20;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

#playerpics {
    width: 600px;
}

#playerinfo {
    width: 700px;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#contractpics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 600px;
}

#contactform {
    border-radius: 10px;
    background-color:black;
    padding: 20px;
    width: 700px;
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid yellow; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical; 
}

#submit {
    color: red;
    background-color: yellow;
    border-radius: 10px;
    font-family: Verdana;
    font-weight: bold;
}

#conlabel {
    color: yellow;
}

#aboutcss {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 50px;
}

#abouttext {
    width: 700px;
    font-family: Verdana;
    color: white;
}
