ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: red;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

ul li a{
    display: block;
    text-decoration: none;
    color: yellow;
    font-family: 'Apple Chancery';
}

ul li a:hover {
    background-color: black;
    color: yellow;
}

#homesec {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    color: red;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-shadow: 5px 5px 5px yellow;
    font-family: fantasy;
    font-size: 80px;
}

#upper {
    padding-bottom: 20px;
}

#homeback {
    background-color: black;
}